@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));
@custom-variant light (&:is(.light *));

@theme inline {
  --font-heading: var(--font-heading);
  --font-sub-heading: var(--font-sub-heading);
  --font-body: var(--font-body);

  --spacing-between-blocks-tiny: var(--spacing-8);
  --spacing-between-blocks-xxsmall: var(--spacing-12);
  --spacing-between-blocks-xsmall: var(--spacing-16);
  --spacing-between-blocks-small: var(--spacing-20);

  --spacing-between-blocks-medium: var(--spacing-24);
  --spacing-between-blocks-large: var(--spacing-32);
  --spacing-between-blocks-xlarge: var(--spacing-40);
  --spacing-between-blocks-xxlarge: var(--spacing-48);

  --spacing-between-blocks-huge: var(--spacing-64);
  --spacing-between-blocks-xhuge: var(--spacing-72);

  --spacing-form-fields-gap: var(--spacing-16);
  --spacing-inner-gap: var(--spacing-8);
  --spacing-between-buttons: var(--spacing-12);

  --spacing-between-title-text: var(--spacing-20);

  --spacing-section-large: var(--section-large);
  --spacing-section-medium: var(--section-medium);
  --spacing-section-small: var(--section-small);
  --spacing-section-tiny: var(--section-tiny);

  --container-cols-1: calc(1 * var(--column-width) + 0 * var(--gutter));
  --container-cols-2: calc(2 * var(--column-width) + 1 * var(--gutter));
  --container-cols-3: calc(3 * var(--column-width) + 2 * var(--gutter));
  --container-cols-4: calc(4 * var(--column-width) + 3 * var(--gutter));
  --container-cols-5: calc(5 * var(--column-width) + 4 * var(--gutter));
  --container-cols-6: calc(6 * var(--column-width) + 5 * var(--gutter));
  --container-cols-7: calc(7 * var(--column-width) + 6 * var(--gutter));
  --container-cols-8: calc(8 * var(--column-width) + 7 * var(--gutter));
  --container-cols-9: calc(9 * var(--column-width) + 8 * var(--gutter));
  --container-cols-10: calc(10 * var(--column-width) + 9 * var(--gutter));
  --container-cols-11: calc(11 * var(--column-width) + 10 * var(--gutter));

  --container-grid-medium: 87.75rem;

  --color-title-100: var(--title-100);
  --color-title-200: var(--title-200);

  --color-body-100: var(--body-100);
  --color-body-200: var(--body-200);

  --color-border-default: var(--border-default);

  --color-main-default: var(--purple-default);
  --color-main-light: var(--purple-light);

  --color-bg-theme-1: rgba(4, 3, 5, 1);

  --spacing-padding-global: var(--padding-global);

  --radius-default: 0.25rem;
}

:root {
  --font-heading: "Geist", sans-serif;
  --font-sub-heading: "JetBrains Mono", sans-serif;
  --font-body: "Geist", sans-serif;

  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-40: 2.5rem;
  --spacing-48: 3rem;
  --spacing-64: 4rem;
  --spacing-72: 4.5rem;

  --section-large: 10rem;
  --section-medium: 7.5rem;
  --section-small: 6rem;
  --section-tiny: 4.5rem;

  --title-100: black;
  --title-200: black;

  --body-100: black;
  --body-200: black;

  --border-default: white;

  --purple-default: #1d0e66;
  --purple-light: #3f327d;

  --white-default: #ffffff;

  --padding-global: 1.5rem;

  --column-width: 5.25rem;
  --gutter: 2rem;
}

.dark {
  --title-100: rgba(255, 255, 255, 0.95);
  --title-200: rgba(255, 255, 255, 0.9);

  --body-100: rgba(196, 196, 197, 1);
  --body-200: rgba(196, 196, 197, 1);

  --border-default: rgba(196, 196, 197, 0.2);
}

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  img {
    @apply rounded-default object-cover;
  }

  button {
    @apply cursor-pointer;
  }

  address {
    @apply not-italic;
  }

  body {
    font-family: var(--font-body);
    @apply text-body-100 bg-bg-theme-1 text-sm leading-normal font-[450];
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-family: var(--font-heading);
    @apply text-title-100 leading-[1.3] font-[450] tracking-[0.02em];
  }

  h1,
  .h1 {
    @apply text-[2.5rem];
  }

  h2,
  .h2 {
    @apply text-[2rem];
  }

  h3,
  .h3 {
    @apply text-[1.5rem];
  }

  h4,
  .h4 {
    @apply text-[1.375rem];
  }

  h5,
  .h5 {
    @apply text-[1.25rem];
  }

  h6,
  .h6 {
    @apply text-[1.125rem];
  }

  @media (max-width: 1023px) {
    h1,
    .h1 {
      @apply text-[1.5625rem];
    }

    h2,
    .h2 {
      @apply text-[1.4375rem];
    }

    h3,
    .h3 {
      @apply text-[1.3125rem];
    }

    h4,
    .h4 {
      @apply text-[1.1875rem];
    }

    h5,
    .h5 {
      @apply text-[1.0625rem];
    }

    h6,
    .h6 {
      @apply text-[0.9375rem];
    }
  }

  @keyframes logo-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

body {
  --sb-track-color: #242226;
  --sb-thumb-color: #121014;
  --sb-size: 0.25rem;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 2px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 2px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

:root {
  --font-from: 12;
  --font-to: 15;
  --vw-from: calc(1440 / 100);
  --vw-to: calc(2401 / 100);
  --coefficient: calc(
    (var(--font-to) - var(--font-from)) / (var(--vw-to) - var(--vw-from))
  );
  --base: calc((var(--font-from) - var(--vw-from) * var(--coefficient)) / 16);
}

html {
  font-size: calc(var(--base) * 1rem + var(--coefficient) * 1vw);
}

@media screen and (max-width: 1440px) {
  :root {
    --font-from: 11;
    --font-to: 14;
    --vw-from: calc(479 / 100);
    --vw-to: calc(1440 / 100);
  }
}

@media screen and (max-width: 479px) {
  :root {
    --font-from: 11;
    --font-to: 13;
    --vw-from: calc(1 / 100);
    --vw-to: calc(479 / 100);
  }
}
